<div class="supportingLinks">
  <h1> What's Up With the Water Coffee Ratio? </h1>
  <div>
    <p>
      The proper ratio is everything.  Do enough coffee research and you'll discover "The Golden Ratio".  That is you use 17.42 parts of water to 1 part of coffee.  Don't worry, this is just a starting point and the app will take your particular taste into account by allowing to review your coffee.  This app works in terms in grams, hence you really should have a kitchen scale.  Strong coffee comes from water to coffee ratio, not the roast of the coffee beans.
    </p>
  </div>
</div>
