<div class="supportingLinks">
  <h1> Water to Coffee Ratio? </h1>
  <div>
    <p>
      The proper ratio is everything.  Do enough coffee research and you'll discover "The Golden Ratio".  That is you use 17.42 parts of water to 1 part of coffee.  Don't worry, this is just a starting point and the app will take your particular taste into account by allowing you to review your coffee.  This app works in terms in grams, hence you really should have a kitchen scale.  Strong coffee comes from water to coffee ratio, not the roast of the coffee beans.
    </p>
    <p>
      What is a serving of coffee anyway?  This says that a coffee serving is 5 fluid ounces.  Hence if you're used a 16oz cup at your local shop, you should select "3" servings.  Want a 12oz serving?  Select 2.5 servings.
    </p>
  </div>
</div>
