<div class="supportingLinks">
<h1> What's Up With the Grind Size? </h1>
<div>
  <p>
    The grind size is not to be under estimated!  What is the grind size?  The grind size refers to the size of the whole coffee bean that you grind down.  Please whole use beans to start.  Try not to grind them much more than 24 hours in advanced.  Trust me, you'll notice the difference.  Don't believe me?  run an experiment.
  </p>
  <p>
    A coarse grind produces large pieces that yields an overall small amount of surface area.  A finer grind produces many more smaller pieces, hence a lot more surface area.  Grind size translates into extraction.  If you find the coffee too bitter, use a coarser grind.  You find the coffee under developed, use a finer grind.  Also, on the topic of grind, it really is best to use a burr grinder to produce uniform grinding, regardless of your target grind size.
  </p>
</div>
</div>
