<div class="supportingLinks">
    <div>
      <img class="fitPicture"
        src="launcherProfilePic.JPG"
        alt="Marc Marino Launcher Profile Picture" />
      <div class="textNextToPicture"
        <p class="topLine">About Me</p>
        <p>
          Greetings!  My name is Marc.  I am a recent graduate of Launch Academy, trained to be a junior web developer!
          I wrote Coffee Nerd because I want to use it and I want others out there to have a great coffee experience.
        </p>
        <p>
          I found making coffee at home to be frustrating.  Lack of directions, what is my heaping tablespoon look like compared
          your heaping tablespoon.  Making coffee on a Sunday morning is a ritual and enjoying should be a pleasurable treat.
          Use this app, use a scale, track what you do and be confident that the next batch of coffee will be as good as the last.
        </p>
        <p>
          A big shout out to the instructors at Launch Academy and the awesome people of Boston22 (aka #.catch22) who helped me
          when I struggled.
        </p>
        <p>
          You can reach me at good.liquids@gmail.com
        </p>
      </div>
  </div>
</div>
