.breadcrumbs > * {
 font-family: 'Indie Flower', cursive;
 font-size: 1em;
 padding: 1em;
}

.supportingLinks {
  background-color: white;
  font-family: 'Indie Flower', cursive;
  margin: 7%;
  border-radius: 40px;
  padding: 20px;
}

.supportingLinks h1 {
  font-family: 'Indie Flower', cursive;
}

.app-name {
  font-family: 'Indie Flower', cursive;
}

.flash-notice {
  background-color: #BD895D;
  font-family: 'Indie Flower', cursive;

}

// .coffeeBeanBackground {
//   background: url(https://www.dropbox.com/s/f6rw2uqwltw31wu/Coffee-Beans-Background-Original.jpg) no-repeat center center fixed;
//   background-position: center;
//   background-size: cover;
//   background-blend-mode: lighten;
// }

.mainPage {
  background-color: white;
  font-family: 'Indie Flower', cursive;
  background-color: white;
  border-radius: 40px;
  padding: 20px;
  width:  50%;
  margin: 10% 25%;
}

.mainPage h1 {
  font-family: 'Indie Flower', cursive;
  text-align: center;
}

.selectionTile {
  background-color: white;
  font-family: 'Indie Flower', cursive;
  background-color: white;
  border-radius: 40px;
  padding: 20px;
  width:  30%;
  margin: 5% 35%;
}

.selectionTile h1 {
  font-family: 'Indie Flower', cursive;
  text-align: center;
}

.devisePage {
  background-color: white;
  font-family: 'Indie Flower', cursive;
  border-radius: 40px;
  width:  50%;
  padding: 20px;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 10%;
}

.devisePage h2 {
  font-family: 'Indie Flower', cursive;
}

.devisePage .emailEntry{
  font-family: sans-serif;
}


body {
  background: url(https://www.dropbox.com/s/f6rw2uqwltw31wu/Coffee-Beans-Background-Original.jpg?raw=1) no-repeat center center fixed;
  background-position: center;
  background-size: cover;
  background-blend-mode: lighten;
}
