.breadcrumbs > * {
 font-family: 'Josefin Sans', sans-serif;
 font-size: 1em;
 padding: 1em;
}

.supportingLinks {
  background-color: #FFFFFF;
  font-family: 'Josefin Sans', sans-serif;
  margin: 7%;
  border-radius: 40px;
  padding: 20px;
  border: 10px solid #BD895D

}

.supportingLinks h1 {
  font-family: 'Josefin Sans', sans-serif;
}

.app-name {
  font-family: 'Josefin Sans', sans-serif;
}

.flash {
  background-color: #BD895D;
  font-family: 'Josefin Sans', sans-serif;
}

.mainPage {
  background-color: #FFFFFF;
  font-family: 'Josefin Sans', sans-serif;
  border-radius: 40px;
  padding: 20px;
  width:  50%;
  margin: 10% 25%;
  border: 10px solid #BD895D
}

.mainPage h1 {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}

.signUpInLinks h1 {
  display: inline-block;
  padding: 10%
}

.selectionTile {
  background-color: #FFFFFF;
  font-family: 'Josefin Sans', sans-serif;
  border-radius: 40px;
  padding: 20px;
  width:  50%;
  margin: 5% 25%;
  border: 5px solid #BD895D

}

.selectionTile h3 {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}

.selectionTile h4 {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}

.selectionTile a {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}

.servingsTile {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}

.goButtonContainer {
  background-color: #BD895D;
  color:  #FFFFFF;
  font-family: 'Josefin Sans', sans-serif;
  border-radius: 40px;
  padding: 20px;
  width:  30%;
  margin: 5% 35%;
  text-align: center;
  border: 2px solid #FFFFFF
}

.goButton {
  background-color: #FFFFFF;
  color:  #000000;
  font-family: 'Josefin Sans', sans-serif;
  border-radius: 40px;
  padding: 20px;
  width:  80%;
  margin: 5% 5%;
  text-align: center;
  border: 2px solid #000000;
}

.goButton:hover {
  background-color: #664233;
  color: #FFFFFF;
}

.goButton:active {
  background-color: #FFFFFF;
}

.centerButtons {
  text-align: center;
}

.introductionLinks {
  background-color: #333333;
  text-align: center;
}

.introductionLinks a {
  color:  #FFFFFF;
}

.nerdLink:hover a {
  color:  #BD895D;
}

.supportsLink:hover a {
  color:  #BD895D;
}

.ratioLink:hover a {
  color:  #BD895D;
}

.grindLink:hover a {
  color:  #BD895D;
}

.introductionLinksPadding {
  padding-left: 2%;
  padding-right: 2%;
}

.resultsButtons {
  background-color: #BD895D;
  font-family: 'Josefin Sans', sans-serif;
  border-radius: 40px;
  padding: 20px;
  width:  30%;
  margin: 5% 5%;
  text-align: center;
  border: 2px solid #000000;
  display: inline-block;
}

.resultsButtons:hover {
  background-color: #664233;
}

.devisePage {
  background-color: #FFFFFF;
  font-family: 'Josefin Sans', sans-serif;
  border-radius: 40px;
  width:  50%;
  padding: 20px;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 10%;
  border: 10px solid #BD895D
}

.devisePage h2 {
  font-family: 'Josefin Sans', sans-serif;
}

.devisePage .emailEntry{
  font-family: sans-serif;
}

.swal-button--confirm {
  background: #BD895D;
}

body {
  background: url('/Coffee-Beans-Background.jpg') no-repeat center center fixed;
  background-position: center;
  background-size: cover;
  background-blend-mode: lighten;
}

.supportingLinks .fitPicture {
    width: 50%;
}

.supportingLink .topLine {
  font-size: 2em;
  font-weight: 900;
}

.textNextToPicture {
  display: inline-block;
  width: 48%;
  float: right;
}

.footer a {
    margin-top: 10rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333333;
    color: white;
    text-align: center;
}

.footer:hover a {
  color:  #BD895D;
}
